body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#canvas {
    margin-top: 20px;
    border: 1px solid black;
}

#mensagem {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

